.container{
  display: grid;
  /*grid-template-columns: 50px auto 100px;
  grid-template-rows: auto;*/
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto;
}

.body{
  background-color: rgb(169, 194, 188);
  font-family: Calibri, Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.705);

}

h3{
  text-transform: uppercase;
  padding-left: 25px;
  color:rgb(51, 66, 66);
  padding-top: 30px;
}

ul li{
  padding-top: 5px;
  padding-bottom: 5px;
}

.content1
{
  grid-column: 3/ 10;
}